div#cybosm-side
	{ position: fixed; right: 0; top: 50%; background-color: #fff; border-radius: 5px 0 0 5px;
	  box-shadow: 0 0 3px 1px #dadada inset; }

aside.widget_cybosm_widget div#widget_area_cybosm-sticky
	{ float: right; margin-top: 10px; }
     
aside.widget_cybosm_widget div#widget_area_cybosm a.cybosm-icon,
aside.widget_cybosm_widget div#widget_area_cybosm-sticky a.cybosm-icon
	{ float: left; }

a.cybosm-icon
	{ width: 40px; height: 40px; background: #e10078 url( '../img/cybosm_white_only.png' ); display: block; background-size: 264px 40px; 
	  border-radius: 5px; box-shadow: 0 0 7px 1px #cc006d inset; margin: 5px; }

aside.widget_cybosm_widget div#widget_area_cybosm-sticky a.cybosm-icon
     { border-radius: 20px; }
     
a.cybosm-icon:hover
	{ box-shadow: 0 0 7px 1px #709e2e inset; background-color: #84b414; }

a.cybosm-fb-icon
	{ background-position: 0 bottom; }

a.cybosm-tw-icon
	{ background-position: -45px bottom; }

a.cybosm-ig-icon
	{ background-position: -90px bottom; }

a.cybosm-yt-icon
	{ background-position: -135px bottom; }

a.cybosm-em-icon
	{ background-position: -179px bottom; }

a.cybosm-pt-icon
	{ background-position: -224px bottom; }
     
a.cybosm-fb-icon:hover
	{ background-position: 0 top; }

a.cybosm-tw-icon:hover
	{ background-position: -45px top; }

a.cybosm-ig-icon:hover
	{ background-position: -90px top; }

a.cybosm-yt-icon:hover
	{ background-position: -135px top; }
     
a.cybosm-em-icon:hover
	{ background-position: -179px top; }
     
a.cybosm-pt-icon:hover
	{ background-position: -224px top; }

.screen-reader-text
	{ clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden; }
